[Unit]
Description=Pi-hole adlists update timer
Wants=network-online.target
After=network.target network-online.target

[Timer]
OnCalendar=Sun *-*-* 0:00:00
Unit=pi-hole-adlists.service
Persistent=true
RemainAfterElapse=true

[Install]
WantedBy=timers.target
